<h1><%= t('.completed', test: @test_passage.test.title) %></h1>

<p><%= total_questions_helper %></p>

<p>
  <%= t('.correct_answers', score: @test_passage.score) %>
</p>

<%= result_message(@test_passage.test_result) %>

<p><%= link_to 'Back to Tests', tests_path %></p>
