<h1><%= t('.header', test_title: @test_passage.test.title) %></h1>


<div class="text-light bg-dark">
  <h3><%= t('.number', question_number: @test_passage.question_number, questions_count: @test_passage.test.questions.count) %>: <%= @test_passage.current_question.body %></h3>

    <%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}" %>
        <%= b.label %>
      </p>
    <% end %>



      <%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post, class: "btn btn-dark" %>
      <%= form.submit t('.next'), class: "btn btn-dark" %>
    <% end %>

  <div class="progress">
    <%= content_tag :div,
                    class: "progress-bar progress-bar-striped bg-success",
                    role: "progressbar",
                    data: { current_question: @test_passage.question_number,
                    total_questions: @test_passage.test.total_questions },
                    style: "width: 0%",
                           'aria-valuenow' => "0",
                           'aria-valuemin' => "0",
                           'aria-valuemax' => "100" do %>
    <% end %>
  </div>
</div>
