<% if user_signed_in? %>
<p>
  <h1>Welcome to the <%= link_to 'TestGuru', root_path %> portal, <%= current_user.name %>! Choose test</h1>

  <p><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></p>
</p>
  <% else %>

<% end %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="d-grid gap-2 d-md-block">
      <%= link_to 'RU', {lang: :ru}, class: "btn btn-outline-secondary btn-sm lang" %>
      <%= link_to 'EN', {lang: :en}, class: "btn btn-outline-secondary btn-sm lang" %>
    </div>
  </div>
</nav>
