<% if user_signed_in? %>
<div class="navbar navbar-dark bg-dark justify-content-center">
      <h1 class="navbar-text text-center"><%= t('greetings_signed_in') %><%= link_to t('testguru'), root_path %>, <%= current_user.name %></h1>
</div>

  <% else %>
    <h1><%= t('greetings') %></h1>
<% end %>

<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-text">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <% if user_signed_in? %>
        <button type="button" class="btn btn-dark btn-sm"><%= link_to t('.log_out'), destroy_user_session_path, method: :delete %></button>
      <% end %>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <% if I18n.locale == I18n.default_locale %>
        <label class="btn btn-dark btn-sm">
          <%= link_to 'RU', {lang: :ru} %>
        </label>
      <% else %>
        <label class="btn btn-dark btn-sm">
          <%= link_to 'EN', {lang: :en} %>
        </label>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-dark btn-sm">
              <%= link_to t('.user_mode'), tests_path %>
            </label>
            <label class="btn btn-dark btn-sm">
              <%= link_to t('.admin_mode'), admin_tests_path %>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
