<table>
  <tr>
    <th><%= @question.body %></th>
    <th>Correct</th>
    <th colspan="2">Actions</th>
  </tr>
  <%= render @question.answers %>
</table>

<p><%= link_to 'New Answer', new_admin_question_answer_path(@question) %> |
<%= link_to 'Delete Question', question_path, method: :delete, data: {confirm: "Are you sure?"} %></p>

<p><%= link_to 'Back', admin_test_path(@question.test) %></p> 
