<div class="box">
  <h1><%= tests_header(@test) %></h1>
    <%= form_with model: [:admin, @test], local: true do |form| %>
      <%= render 'shared/errors', resource: @test %>

      <div class="field">
        <%= form.text_field :title, id: :test_title, placeholder: "Title" %>
      </div>

      <div class="field">
        <%= form.text_field :level, in: 0..5, step: 1, id: :test_level, placeholder: "Level" %>
      </div>

      <div class="field">
        <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
      </div>

      <p><%= form.submit %></p>
    <% end %>
    <%= link_to "Cancel", admin_tests_path %>
</div>
