<h1><%= t('.header') %></h1>

<table class="table table-dark table-striped text-center">
  <thead>
  <tr>
    <th class="sort-by-title pointer" scope="col">
      <%= t('.title') %>
      <!-- <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %> -->
    </th>
    <th scope="col"><%= t('.category') %></th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.qcount')%></th>
    <th scope="col"></th>
  </tr>
  <%= render @tests %>
</table>


<div>
    <%= link_to t('helpers.admin.tests.new'), new_admin_test_path, class: "badge bg-dark text-wrap" %>
</div>
